################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuestionsLibrary/bin/Debug/net8.0
/QuestionsLibrary/obj
